:root {
  --bg-primary: #f7f7f8;
  --bg-secondary: #ffffff;
  --text-primary: #1c1c1e;
  --text-secondary: #555555;

  --white: #ffffff;
}

.dark {
  --bg-primary: #454e58;
  --bg-secondary: #1a1a1c;
  --text-primary: #f5f5f7;
  --text-secondary: #a1a1aa;
}
